@import '@src/styles/functions';

.root {
  position: relative;
  background-color: var(--white);
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 180svh;
  overflow-x: clip;

  @include mobile {
    margin: 0;
    height: 140svh;
  }

  @include small {
    height: 120svh;
  }

  .text {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 0 0.5rem;

    > div {
      perspective: 1000px;
      max-width: 100%;
    }
  }
}
